:root {
  --backgroundColor: #f7f7f7;
  --primaryColor: #191a1b;
  --textColorSecondary: rgba(0, 0, 0, 0.45);
}
.notepadArea {
  border: none;
  border-radius: 4px;
  resize: none;
  outline: none;
  width: 100vw;
  height: 90vh;
  display: inline-block;

}

.notepadContainer {
  text-align: center;
}
.navbar {
  height: 6vh;
}

.navbutton {
  border: none;
  height: 5vh;
  background-color: white;
  outline: none;

}

.toggledOn {
  background-color: brown;
}

